@keyframes moveNoButton {
    from {
      top: 0;
      left: 0;
    }
    to {
      top: 100px; /* Поменяйте значение на желаемую высоту перемещения */
      left: 100px; /* Поменяйте значение на желаемую ширину перемещения */
    }
  }
  
  #no-btn.move {
    animation: moveNoButton 1s ease; /* Измените значение 1s на желаемую продолжительность анимации */
  }
  